@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-side__container {
    @apply flex items-center justify-center;
  }

  .nav-side {
    @apply w-full h-full;
  }

  .burger-links {
    @apply text-2xl capitalize;
  }

  .burger-links__main {
    @apply h-20 grid place-items-center mb-10;
  }

  .sidebar-links {
    @apply capitalize;
  }

  .sidebar-links__main {
    @apply h-20 flex mb-5 items-center text-xl;
  }

  .totals__container {
    margin-top: 25px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .dash-btn.left {
    position: relative;
    display: block;
    left: 1px;
    width: 160px;
    height: 60px;
    margin-right: 30px;
    border: 2px solid rgb(168 85 247);
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
  }

  .dash-btn.left button {
    display: grid;
    place-items: center;
    height: 100%;
    width: 101%;
    text-align: center;
    background-color: rgb(168 85 247);
    border: solid rgb(168 85 247);
    border-width: 0 10px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    margin: -5% 0px -5% -5%;
  }

  .dash-btn.left button:hover {
    transform: translateY(8px) translateX(7px);
  }

  .dash-btn button:focus {
    outline: none;
  }

  .dash-btn.right {
    position: relative;
    display: block;
    right: 1px;
    width: 160px;
    height: 60px;
    border: 2px solid rgb(168 85 247);
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
  }

  .dash-btn.right button {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(168 85 247);
    border: solid rgb(168 85 247);
    border-width: 0 10px;
    color: white;
    font-size: 18px;
    margin: 5% 0px 5% 5%;
  }

  .dash-btn.right button:hover {
    transform: translateY(-8px) translateX(-8px);
  }

  @media (max-width: 399px) {
    .dash-btn.left,
    .dash-btn.right {
      position: unset;
      height: 50px;
    }

    .dash-btn.left {
      margin-right: 20px;
    }

    .dash-btn.left button,
    .dash-btn.right button {
      margin: 0;
      font-size: 5vw;
    }
  }

  .totals {
    width: 100%;
    height: 185px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: slategrey;
    border-radius: 20px;
  }

  .totals > div {
    font-size: 30px;
    overflow: hidden;
  }

  @media (max-width: 350px) {
    .totals > div p {
      overflow-x: scroll;
    }

    .totals h3 {
      font-size: 14px;
    }
  }
}

.modal-bg {
  background-color: rgba(10, 9, 10, 0.607);
}

.sun {
  border-radius: 40% 40% 0 0;
  top: 80vh;
}

@media (max-width: 640px) {
  .home-btn {
    width: 120px;
    height: 50px;
  }
}

.dashboard {
  height: calc(100vh - 96px);
  width: 100vw;
}

@media (max-width: 768px) {
  .dashboard {
    height: calc(100vh - 64px);
  }
}
