@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .dash-btn {
        @apply w-28 h-10 md:w-32 md:h-12 text-white rounded-lg outline-none cursor-pointer mr-5;
    }

    @media (max-width: 295px) {
        .dash-btn {
            @apply w-24 h-10 text-sm mb-3;
        }
    }
}

@layer components {
    .nav-side__container {
        @apply flex items-center justify-center;
    }
    
    .nav-side {
        @apply  w-full h-full;
    }

    .burger-links {
        @apply text-2xl capitalize ;
    }

    .burger-links__main {
        @apply h-20 grid place-items-center mb-10;
    }

    .sidebar-links {
        @apply capitalize;
    }

    .sidebar-links__main {
        @apply h-20 flex mt-5 items-center text-xl;
    }

    .totals__container {
        margin-top: 25px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .totals {
        width: 100%;
        height: 185px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        border-width: 4px;
    }

    .totals:first-of-type {
        background-color: rgba(3, 218, 3, 0.203);
        border-color: rgb(3, 218, 3);
    }

    .totals:nth-of-type(2) {
        background-color: rgba(218, 3, 3, 0.203);
        border-color: rgb(218, 3, 3);
    }

    .totals > div {
        font-size: 30px;
        overflow: hidden;
    }


    @media (max-width: 350px) {
        .totals > div p {
            overflow-x: scroll;
        }    

        .totals h3 {
            font-size: 14px;
        }
    }
    
}

.modal-bg {
    background-color: rgba(0, 0, 0, 0.734);

}

.sun {
    border-radius: 40% 40% 0 0;
    top: 80vh;
}

@media (max-width: 640px) {
    .home-btn {
        width: 120px;
        height: 50px;
    }   
}

.dashboard {
    height: calc(100vh - 96px);
    width: 100vw;
}

@media (max-width: 768px) {
    .dashboard {
        height: calc(100vh - 64px);
    }
}